body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

h1, a, button {
  font-weight: 700;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

button:hover {
  background-color: #0648cd;
}

