.news__wrapper {
  padding: 80px 120px;
  background-color: #F4F6FF;
}

.news__title {
  font-size: 26px;
  font-weight: 700;
  color: #00349B;
  text-align: center;
  margin-bottom: 40px;
}

.news__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
  /* grid-template-areas: ; */
}

.card__one {
  padding: 370px 40px 40px 40px;
  grid-column: 1/2;
  grid-row: 1/3;
  background-image: url("../images/newsphoto1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.card__two {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 112px  40px 40px 40px;
  background-image: url("../images/newsphoto2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.card__three {
  grid-column: 2/3;
  grid-row: 2/3;
  padding: 112px  40px 40px 40px;
  background-image: url("../images/newsphoto3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 10px;
}


/* 

.card__main {
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 3fr;
  padding: 520px 40px 40px 40px;
  background-image: url("../images/newsphoto1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.card:nth-child(2) {
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 2fr;
  background-image: url("../images/newsphoto2.jpg");
}

.card:nth-child(3) {
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 2fr 3fr;
  background-image: url("../images/newsphoto3.jpg");
} */

